@charset "utf-8";

/* color */
:root{
    --main-color-1:#eee;

}
/* font */

.container{
    width: 1360px;
    margin: 0 auto;
    position: relative;
}

/* header */

/* visual */

/* sec1st */

/* footer */